@tailwind base;
@tailwind components;
@tailwind utilities;

.imagename{
    font-size: medium;
    font-weight: bold;
    color: brown;
    text-align: center;
}
#topic{
     font-size: xx-large;
    font-weight: bolder;
    color: rgb(52, 112, 124);
    text-align: center;
    margin-top: 10px;
}
